TTS_PROVIDER=elevenlabs
TTS_API_KEY=your_api_key
TTS_BASE_URL=https://api.elevenlabs.io/v1/
TTS_MODEL=eleven_v3
TTS_VOICE_ID=your_voice_id

LLM_PROVIDER=openrouter-ai
LLM_API_KEY=your_api_key
LLM_BASE_URL=https://openrouter.ai/api/v1/
LLM_MODEL=choose_your_model